<!DOCTYPE html>
<html ng-app="DiskApp" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/cart-good_list.css">
    <link rel="stylesheet" href="../css/cart.css">
    <script src="../js/vendor/angular.min.js"></script>
    <script src="../js/vendor/angular-cookies.min.js"></script>
    <script src="../js/cart.js"></script>
    <script src="../js/vendor/jquery-2.1.1.js"></script>
    <script src="../js/vendor/underscore-1.7.0.js"></script>
</head>
<body ng-controller="CartCtrl" ng-init="init()">
<nav>
    <div class="align-left">
        <a href="http://localhost:8080/public/html/home.html"><img src="../images/taobao.png" class="logo"></a>
    </div>

    <div class="align-right" ng-show="isLogged">
        <a href="orders.html" target="_blank" class="noneDecorator"><span>{{username}}</span>，您好！</a>
        <a href="cart.html" target="_blank" ng-show="!isAdmin" class="noneDecorator">
            购物车<span ng-show="cartNotEmpty" class="boldRedText">{{cartSize}}</span>
        </a>
        <a href="goods-list.html" ng-show="isAdmin" ng-click="" class="noneDecorator">商品管理</a>
    </div>
</nav>
<div >
    <p class="descript"><span ng-show="cartNotEmpty" class="boldRedText">全部商品{{cartSize}}</span></p>
    <table>
        <tr class="table-header">
            <th class="td-checkbox highlight">
                <input type="checkbox" class="check-all" ng-model="master" ng-click="calculateTotalPrice()">
                <span>全选</span>
            </th>

            <th class="td-name">
                商品名
            </th>

            <th class="td-number">
                数量
            </th>

            <th class="td-price">
                单价
            </th>

            <th class="td-amount">
                金额 (元)
            </th>

            <th class="td-operation">
                操作
            </th>
        </tr>

        <tr ng-repeat="disk in cart">
            <td class="td-checkbox">
                <input type="checkbox" class="check-self" ng-checked="master" ng-click="isAllChecked()"
                       value={{disk.disk.id}}>
            </td>

            <td class="td-name">
                {{disk.disk.name}}
            </td>

            <td class="td-number">
                <button style="height: 30px;width: 20px;float: left;">-</button>
                <input style="height: 30px;width: 30px;float: left;box-sizing: border-box;"type="text" value="{{disk.quantity}}">
                <button style="height: 30px;width: 20px;float: left;">+</button>
            </td>

            <td class="td-price">
                {{disk.disk.discountedPrice}}
            </td>

            <td class="td-amount">
                {{disk.disk.discountedPrice * disk.quantity}}
            </td>

            <td>
                <span class="operator" ng-click="deleteFromCart(disk.disk.id)">删除</span>
            </td>
        </tr>
    </table>
    <div class="footer">
        <p class="footerSelect">
            <input type="checkbox" class="check-all" ng-model="master" ng-click="calculateTotalPrice()">
            <span>全选</span>
        </p>

        <p class="footerInfo"><span id="deleteSelected">删除</span></p>
        <p class="footerInfo">已选商品<span class="highlight">{{selectedCount}}</span>件</p>
        <p id="totalPrice">
            合计: <span class="highlight">¥{{totalPrice||0.00}}</span>
        </p>
        <input id="balance" type="button" ng-click="makeOrder()" value="结算">
    </div>

</div>
</body>
</html>