<!DOCTYPE html>
<html ng-app="DiskApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/vendor/angular.min.js"></script>
    <script src="../js/vendor/angular-cookies.min.js"></script>
    <script src="../js/cart.js"></script>
    <script src="../js/vendor/jquery-2.1.1.js"></script>
    <script src="../js/vendor/underscore-1.7.0.js"></script>
</head>
<body ng-controller="CartCtrl" ng-init="init()">
<nav>
    <div class="align-left">
        <a href="http://localhost:8080/public/html/home.html"><img src="../images/taobao.png" class="logo"></a>
    </div>

    <div class="align-right" ng-show="isLogged">
        <a href="orders.html" target="_blank" class="noneDecorator"><span>{{username}}</span>，您好！</a>
        <a href="cart.html" target="_blank" ng-show="!isAdmin" class="noneDecorator">
            购物车<span ng-show="cartNotEmpty" class="boldRedText">{{cartSize}}</span>
        </a>
        <a href="goods-list.html" ng-show="isAdmin" ng-click="" class="noneDecorator">商品管理</a>
    </div>
</nav>
<div >
    <table>
        <tr>
            <th class="td-checkbox">
                <input type="checkbox" class="check-all" ng-model="master" ng-click="caculateTotalPrice()">
            </th>

            <th class="td-name">
                商品名
            </th>

            <th class="td-number">
                数量
            </th>

            <th class="td-price">
                单价
            </th>

            <th class="td-amount">
                总量
            </th>
        </tr>

        <tr ng-repeat="disk in cart">
            <td class="td-checkbox">
                <input type="checkbox" class="check-self" ng-checked="master" ng-click="isAllChecked()">
            </td>

            <td class="td-name">
                {{disk.name}}
            </td>

            <td class="td-number">
                {{disk.number}}
            </td>

            <td class="td-price">
                {{disk.price}}
            </td>

            <td class="td-amount">
                {{disk.price * disk.number}}
            </td>
        </tr>
    </table>
    <p id="totalPrice">
        当前所选商品的总价: {{totalPrice}}元
    </p>
</div>
</body>
</html>