<!DOCTYPE html>
<html ng-app="DiskApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>网上仓库</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/cart-good_list.css">
    <link rel="stylesheet" href="../css/goods-list.css">
    <script src="../js/vendor/angular.min.js"></script>
    <script src="../js/vendor/angular-cookies.min.js"></script>
    <script src="../js/goodsList.js"></script>
    <script src="../js/vendor/jquery-2.1.1.js"></script>
    <script src="../js/vendor/underscore-1.7.0.js"></script>
</head>
<body ng-controller="GoodsCtrl" ng-init="init()">
<nav>
    <div class="align-left">
        <a href="http://localhost:8080/public/html/home.html"><img src="../images/taobao.png" class="logo"></a>
    </div>

    <div class="align-right" ng-show="isLogged">
        <a href="orders.html" target="_blank" class="noneDecorator"><span>{{username}}</span>，您好！</a>
        <a href="cart.html" target="_blank" ng-show="!isAdmin" class="noneDecorator">
            购物车<span ng-show="cartNotEmpty" class="boldRedText">{{cartSize}}</span>
        </a>
        <a href="goods-list.html" ng-show="isAdmin" ng-click="" class="noneDecorator">商品管理</a>
    </div>
</nav>
<div >
    <div class="headerOnTable">
        <p class="descript"><span class="boldRedText">全部商品</span></p>
        <input id="keyword" type="input" placeholder="输入关键词搜索商品">
        <button id="search">搜索</button>
        <a href="add-good.html" id="publish">发布新产品</a>
    </div>

    <table>
        <tr class="table-header">
            <th class="td-checkbox highlight">
                <input type="checkbox" class="check-all" ng-model="master">
            </th>

            <th class="td-name">
                宝贝名称
            </th>

            <th class="td-price">
                价格
            </th>

            <th class="td-amount">
                库存
            </th>

            <th class="td-soldOutAmount">
                总销量
            </th>
            <th class="td-publishTime">
                发布时间
            </th>
            <th class="td-operation">
                操作
            </th>
        </tr>

        <tr ng-repeat="disk in disks">
            <td class="td-checkbox">
                <input type="checkbox" class="check-self" ng-checked="master" ng-click="isAllChecked()">
            </td>

            <td class="td-name">
                {{disk.name}}
            </td>

            <td class="td-price">
                {{disk.discountedPrice}}
            </td>

            <td class="td-amount">
                {{disk.stockSize}}
            </td>

            <td class="td-soldOutAmount">
                {{disk.soldOutCount}}
            </td>

            <td class="td-publishTime">

            </td>

            <td>
                编辑宝贝
            </td>
        </tr>
    </table>
    <div class="footer">
        <p class="footerSelect">
            <input type="checkbox" class="check-all" ng-model="master" ng-click="">
            <span>全选</span>
            <span>下架</span>
        </p>
    </div>
</div>
</body>
</html>