<! doctype html>
<html ng-app="DiskApp" lang="en">
<head>
    <title>淘宝购物</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/vendor/angular.min.js"></script>
    <script src="../js/vendor/angular-cookies.min.js"></script>
    <script src="../js/controller.js"></script>
    <script src="../js/vendor/jquery-2.1.1.js"></script>
    <script src="../js/vendor/underscore-1.7.0.js"></script>

</head>
<body ng-controller="DisksListCtrl" ng-init="init()">
<div class="container">
    <nav>
        <div class="align-left">
            <a href="http://localhost:8080/public/html/home.html"><img src="../images/taobao.png" class="logo"></a>
        </div>
        <!--<div ng-view class="align-right"></div>-->
        <div class="align-right" ng-show="isNotLogged">
            <a href="login.html" target="_self">登陆</a>
            <a href="register.html" target="_self">注册</a>
        </div>
        <div class="align-right" ng-show="isLogged">
            <a href="orders.html" target="_blank" class="noneDecorator"><span>{{username}}</span>，您好！</a>
            <a href="cart.html" target="_blank" ng-show="!isAdmin" class="noneDecorator">
                购物车<span ng-show="cartNotEmpty" class="boldRedText">{{cartSize}}</span>
            </a>
            <a href="goods-list.html" ng-show="isAdmin" ng-click="" class="noneDecorator">商品管理</a>
        </div>
    </nav>

    <section id="showMessage">
        <div ng-show="isAdmin">
            <input placeholder="商品名" id="name" ng-model="disk.name"/>
            <input placeholder="图片链接" id="imgUrl" ng-model="disk.imgUrl"/>
            <input placeholder="商品详情" id="desc" ng-model="disk.desc"/>
            <button ng-click="addDisk()">add</button>
            <br>
            <input placeholder="请输入搜索关键字" id="search" ng-model="key"/>
        </div>
        <div class="content" id="disks">
            <div class="item" ng-repeat="disk in disks | filter: key">
                <p>
                    {{disk.name}}
                </p>
                <img ng-src={{disk.imgUrl}}>

                <p>
                    {{disk.desc}}
                </p>

                <div>
                    <label>单价: {{disk.discountedPrice}} 元</label>
                </div>

                <div>
                    <button class="deleteGoodBtn" ng-click="removeDisk(disk)" ng-show="isAdmin">删除</button>
                    <button class="addCartBtn" ng-click="addToCart(disk)" ng-show="!isAdmin">加入购物车</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="left">
            <p>联系我们</p>
            <ul>
                <li>武汉市洪山区光谷世界城广场1616</li>
                <li>Email: <a href="mailto:pandar_disk@gmail.com">pandar_disk@gmail.com</a></li>
                <li>Tel: 15520552070</li>
            </ul>
        </div>
        <div class="right">
            <p>我们的位置</p>
            <img src="../images/position.png" alt="">
            <div class="mapInfo" id="baiduMapInfo"></div>
        </div>
    </footer>
</div>
</body>
</html>