table .table-header{
    line-height: 30px;
}

table .highlight{
    border-top: 6px red solid;
    line-height: 30px;
}

table .td-checkbox, .td-price, .td-amount, .td-soldOutAmount, .td-publishTime, .td-operation{
  width: 10%;
}

